.ctAppRoot .bundleWidget .bundleTitle {
    font-size: 20px;
    margin-bottom: 6px;
}

.ctAppRoot .bundleWidget .topContentPane {
    height: 380px;
}

.ctAppRoot .bundleWidget .topContentPane .carousel {
    height: 290px;
    box-shadow: none;
}

.ctAppRoot .bundleWidget .topContentPane .carousel .jumbotron .bundleInfoContainer .card {
    background-color: rgba(97, 97, 101, 0.5);
}
.ctAppRoot .bundleWidget .topContentPane .carousel .jumbotron .bundleInfoContainer .card .card__media {
    cursor: pointer;

}

.ctAppRoot .bundleWidget .topContentPane .carousel .carousel__controls {
    background: transparent;
    height: 30px;
}

.ctAppRoot .bundleWidget .topContentPane .carousel .carousel__left,
.ctAppRoot .bundleWidget .topContentPane .carousel .carousel__right {
    top: 45%;
}

.ctAppRoot .bundleWidget .topContentPane .carousel .jumbotron .chips {
    margin-top: 10px;
}


.ctAppRoot .bundleWidget .dijitButton.dijitChecked .icon-radio-unselected:before{
    content:'\e002';
}

