.ctAppRoot .bundleWidget .bundleTitle {
    font-size: 20px;
    margin-bottom: 6px;
}

.ctAppRoot .bundleWidget .topContentPane {
    height: 350px;
}

.ctAppRoot .bundleWidget .topContentPane .v-carousel {
    box-shadow: none;
}

.ctAppRoot .bundleWidget .topContentPane .v-carousel .bundleInfoContainer .v-card {
    background-color: rgba(97, 97, 101, 0.5);
}
.ctAppRoot .bundleWidget .topContentPane .v-carousel .bundleInfoContainer .v-card .v-image {
    cursor: pointer;
}

.ctAppRoot .bundleWidget .topContentPane .v-carousel__controls {
    background: transparent;
    height: 30px;
}

.ctAppRoot .bundleWidget .v-carousel__prev,
.ctAppRoot .bundleWidget .v-carousel__next {
    top: 45%;
}

.ctAppRoot .bundleWidget .dijitButton.dijitChecked .icon-radio-unselected:before{
    content:'\e002';
}

